body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden; 
}

#container {
    position: relative;
    width: 800px;
    height: 600px;
    overflow: hidden; 
    background-size: cover;
    background-position: center;
}

#container.level1 {
    background-image: url('../img/background1.jpg');
}

#container.level2 {
    background-image: url('../img/background2.jpg');
}

#container.level3 {
    background-image: url('../img/background3.png');
}

#container.level4 {
    background-image: url('../img/totalScore.png');
}



