body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden; 
}

#container {
    position: relative;
    width: 800px;
    height: 600px;
    overflow: hidden; 
    background-size: cover;
    background-position: center;
}

.panel-start {
    width: 800px;
    height: 600px;
    background-image: url('/assets/img/startImage.png');
    display: flex;
    justify-content: center;
    align-items: center;
}



.hidden {
    display: none;
}

#game-panel.level1 {
    background-image: url('/assets/img/background1.jpg');
}

#game-panel.level2 {
    background-image: url('/assets/img/background2.jpg');
}

#game-panel.level3 {
    background-image: url('/assets/img/background3.png');
}

#game-panel.level4 {
    background-image: url('/assets/img/totalScore.png');
}

body {
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 300;
}

#btn-start-game {
    background: url('/assets/img/btn-start-game.png') no-repeat center center;
    background-size: contain;
    width: 150px;
    height: 50px;
    border: none;
    color: transparent;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#musicBtn {
    background: url('/assets/img/btn-music.png') no-repeat center center;
    background-size: contain;  /* Ajusta el tamaño de la imagen */
    position: absolute;
    color: transparent;
    display: inline-block;
    top: 90px;
    right: 340px;  
    width: 150px;
    height: 60px;
    border: none;
    cursor: pointer;
    
}


